@media screen and (max-width: 768px) {
  .involve-bttn {
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
    font-size: 12px;
    font-weight: bold;
  }

  #weekend .nav-link {
    width: calc(2rem * 9);
    height: calc(2rem * 1.7);
    font-size: calc(1rem * 1);
  }

  .weekends .tablediv {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .ticket-boxes {
    flex-direction: column;
  }

  .ticket-boxes .card {
    margin-bottom: 15px;
  }
  /* Google Map */

  #map {
    height: calc(2rem* 15);
    width: calc(2rem*9);
    border: 3px double gold;

  }

  /* Hotels */

  #hotel {
    padding: 0.5%;
    height: calc(2rem* 15);
    width: calc(2rem*9);
  }

  .nav-pills {
    margin-left: 0;
  }

  .kne {
    margin-bottom: calc(2rem*2.5);
  }

  .col2 {
    margin-bottom: 7px;
  }
}


@media screen and (min-width: 767px) {
  .card {
    margin: 5px;
  }
  
  .kne {
    margin-bottom: 5%;
  }

  #weekend .nav-link {
    width: calc(2rem * 10);
    height: calc(2rem * 2.5)
  }

  .weekends .tablediv {
    width: calc(2vw* 13);
    padding: 0;
    margin: 0;
  }

  /* Google Map */

  #map {
    height: 45vw;
    width: 35vw;
    border: 8.5px double gold;

  }
  
  /* Hotels */
  
  #hotel {
    padding: 0.5%;
    height: 55vh;
    width: 50vw;
  }

  
  .direction-set {
    display: flex;
    margin: 0px 5%;
  }

  .wedSetup .tab-content>.active:first-child {
    margin-left: calc(1rem * -8);
  }
  
  
}

#hotel {
  border: 8.5px double gold;
}

#hotel, #map {
  margin: 15px 0;
  padding: 0.5%;
}


.direct-list {
  list-style-type: upper-roman;
}



/* Ticketing */

.flex-down{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-boxes{
  margin: 1.5% 0;
  display: flex;
  justify-content: center;
}

.ticket-setup {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.ticket-setup .card .table{
  font-size: medium;
}

.ticket-setup h2 {
  margin-bottom: -5px;
}

.purchase-bttn {
  text-align: center;
  margin: 15px;
}

.ren-faire {
  width: calc(2rem* 10);
  height: calc(2rem*8);
}

.les-amis {
  display: flex;
  justify-content: center;
}

.ren-faire,
.les-amis {
  float: left;
  padding: 8px;
}

.ticket-setup span {
    margin-top: -90px;        /* Size of fixed header */
    padding-bottom: 90px; 
    display: block;
}

.les-ul,
.ticket-ul {
  list-style-type: none;
  border: 7px ridge #fcce17;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.les-ul:hover,
.ticket-ul:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}


.les-ul.les-header,
.ticket-ul.ren-gen {
  background-color: #1502be;
  color: whitesmoke;
  font-size: 23px;
  font-weight: bold;
}



.kne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kne h2 {
  margin-bottom: 3px;
}

#le-amis-title {
  margin: 3px 0 0;
}

.dog-box {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.wedSetup {
  display: flex ; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}



.wedSetup .btn{
  font-size: calc(2rem * .7);
  font-weight: bold;
}

.wedSetup .nav-link {
  width: calc(2rem * 10);
  height: calc(2rem * 2);
}

.wedding h2 {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}

.wedding {
  margin-top: 5%;
}

.list-group-item {
  border: 2.5px solid rgba(0, 0, 0, 0.253);
}

#wedMenu .list-group, #weddingFinePrint .list-group{
  padding-bottom: 5%;
  border-bottom: 2.5px solid #1502be;
}

.finePrint{
  margin-bottom: 0;
  margin-top: 2%;
  text-align: center;
}

#wedMenu .list-group:last-child,  #weddingFinePrint .list-group:last-child {
  border-bottom: hidden;
}

.nav-pills .nav-link {
  font-size: calc(1rem * 1.4);
  font-weight: bolder;
}

.ecp-title {
  font-size: calc(2rem * .8);
  font-weight: bold;
  margin-top: 15px;
}

.ecp-subheader {
  font-size: calc(2rem * .7);
  margin-top: 15px;
}

.policy-set {
  text-align: left;
}

.policy-set .card-title, .policy-set .card-subtitle{
  text-decoration: underline;
}

.policy-set ol {
  list-style: decimal;
}



/* Getting Involved */

.involve-bttn {
  border-radius: 5%;
}

#employ-involve {
  background-color: rgb(90, 142, 189);
  color: white;
}

#employ-involve:hover {
  background-image: url("../images/unicorn-overlay.jpg");
  background-size: cover;
  background-position: center;
}

#employ-involve:hover p {
  -webkit-animation: moving 1s forwards;
  animation: moving 1s forwards;
}

#vendor-involve {
  background-color: rgb(58, 43, 84);
  color: white;
}

#vendor-involve:hover {
  background-image: url("../images/crown-overlay.jpg");
  background-size: cover;
  background-position: center;
}

#vendor-involve:hover p {
  -webkit-animation: moving 1s forwards;
  animation: moving 1s forwards;
}

#community-involve {
  background-color: rgb(52, 123, 185);
  color: white;
}

#community-involve:hover {
  background-image: url("../images/fairy-overlay.jpg");
  background-size: cover;
  background-position: center;
}

#community-involve:hover p {
  -webkit-animation: moving 1s forwards;
  animation: moving 1s forwards;
}

@keyframes moving {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(4.5vh);
  }
}



/* Weekends */

.stages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.weekends .nav{
  position: relative;
}

.weekends table {
  background-color: whitesmoke;
  font-size: calc(1rem* 1);
}

.weekends thead {
  border-bottom: 2px solid #5000e6b6;;
}

#weekend, .wknds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joust, .stl-stage, .f-stage, .mp-stage, .kp-stage {
  border: 2px solid rgb(75, 28, 155);
}

.rp-stage, .o-stage, .joa-stage, .st-stage, .p-stage {
  border: 2px solid rgb(74, 4, 92);
}


.rp-stage, .stl-stage, .o-stage, .f-stage, .joa-stage, .mp-stage, .st-stage, .kp-stage, .p-stage, .joust {
  margin: 2%;
}
