@media screen and (max-width: 768px) {
  .involve-bttn {
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
    font-size: 12px;
    font-weight: bold;
  }
}

/* Ticketing */

.ticket-setup {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.ticket-setup h2 {
  margin-bottom: -5px;
}

table,
th {
  border: 3px solid black;
  border-collapse: collapse;
}

td {
  padding: 0 10px;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  width: 25%;
  padding: 5px;
  text-align: center;
}

#les-amis,
#kegs {
  padding-top: 3%;
}

#general-tickets,
#les-amis {
  display: block;
  height: 2.5rem;
  visibility: hidden;
  pointer-events: none;
}

.ren-faire {
  width: 20rem;
}

.les-amis {
  display: flex;
  justify-content: center;
}

.ren-faire,
.les-amis {
  float: left;
  padding: 8px;
}

.les-ul,
.ticket-ul {
  list-style-type: none;
  border: 7px ridge #fcce17;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.les-ul:hover,
.ticket-ul:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.les-ul .les-header,
.ticket-ul .ren-gen {
  background-color: #1502be;
  color: whitesmoke;
  font-size: 23px;
  font-weight: bold;
}

.les-ul li,
.ticket-ul li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(206, 206, 206);
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.t-price {
  margin-left: auto;
}

.rf-la-bttn {
  background-color: #ff7300;
  border: none;
  color: whitesmoke;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none;
}

.kne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kne h2 {
  margin-bottom: 3px;
}

#le-amis-title {
  margin: 3px 0 0;
}

.dog-box {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.wedding h2 {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}



#weddingFinePrint {
  border: 5px double rgba(0, 0, 0, 0.267);

}

#wedFood {
  margin-right: 5px;
}


.wedding {
  margin-top: 5%;
}

.list-group-item {
  border: 2.5px solid rgba(0, 0, 0, 0.253);
}

#wedMenu .list-group, #weddingFinePrint .list-group-item{
  padding-bottom: 5%;
  border-bottom: 2.5px solid #1502be;
}

.finePrint{
  margin-bottom: 0;
  margin-top: 2%;
  text-align: center;
}

#wedMenu .list-group:last-child,  #weddingFinePrint .list-group-item:last-child {
  border-bottom: hidden;
}

/* Google Map */

#map {
  margin: 15px 0;
  border: 8.5px double gold;
  height: 45vw;
  width: 35vw;
}

.direct-list {
  list-style-type: upper-roman;
}

.direction-set {
  display: flex;
  margin: 0px 5%;
}

/* Hotels */

#hotel {
  margin: 15px 10vw;
  border: 8.5px double gold;
  padding: 0.5%;
  height: 55vh;
  width: 50vw;
}

/* Getting Involved */

#employ-involve {
  background-color: rgb(90, 142, 189);
  color: white;
}

#employ-involve:hover {
  background-image: url("../images/unicorn-overlay.jpg");
  background-size: cover;
  background-position: center;
}

#employ-involve:hover p {
  -webkit-animation: moving 1s forwards;
  animation: moving 1s forwards;
}

#vendor-involve {
  background-color: rgb(58, 43, 84);
  color: white;
}

#vendor-involve:hover {
  background-image: url("../images/crown-overlay.jpg");
  background-size: cover;
  background-position: center;
}

#vendor-involve:hover p {
  -webkit-animation: moving 1s forwards;
  animation: moving 1s forwards;
}

#community-involve {
  background-color: rgb(52, 123, 185);
  color: white;
}

#community-involve:hover {
  background-image: url("../images/fairy-overlay.jpg");
  background-size: cover;
  background-position: center;
}

#community-involve:hover p {
  -webkit-animation: moving 1s forwards;
  animation: moving 1s forwards;
}

@keyframes moving {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(4.5vh);
  }
}
