@media screen and (max-width: 768px) {

}

@media screen and (max-width: 768px) {

}
.foot {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: url("../images/blueVariant-print.png");
  background-position: bottom;
  background-size: cover;
  color: whitesmoke;
  padding-bottom: 2%;
  padding-top: 1%;
}

.minifoot {
  width: 100%;
  background-image: url("../images/blueVariant-print.png");
  background-position: bottom;
  background-size: cover;
  color: whitesmoke;
  padding-bottom: 2%;
}

.nav-tabs{
  justify-content: center;
  margin-bottom: calc(1rem * .7);
}

.minifoot .nav-tabs .nav-link {
  color: white;
  font-weight: bold;
}

.minifoot .nav-tabs .nav-link.active {
  color: #350960;
  border-color: #8000ff;
  background-color: #d2d7da;
}

.foot a, .minifoot a {
  color: #0d9aff;
  text-decoration: underline;
}

.foot h3 {
  font-size: calc(2rem * 1);
}

/* Copyright tags and Logo */
#cr-tags img {
  width: 60%;
}

#cr-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5% 3% 10% 0;
  font-size: 100%;
}

#sitemap-link {
  color: #0d9aff;
}

/* General and Realm adjustments */
#general,
#realm {
  display: flex;
  flex-direction: column;
}

#reasons p {
  margin-top: -0.5%;
  color: #d2d7da;
}

.foot-link {
  margin-bottom: 3%;
}
