
.nav__submenu {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav > ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

.nav {
  background: url("../images/blue-abstract-nav.png");
  background-size: cover;
  width: 100%;
  display: flex;
  margin: 0 auto 0;
  color: #fff;
  text-align: left;

}

.nav a {
  display: flex;
  padding: 15px 16px;
  color: #fff;
  line-height: inherit;
  cursor: pointer;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
}


.nav__menu li:hover,
.nav__menu li:focus-within {
  display: inline-block;
  position: relative;
  background-color: rgba(0, 73, 184, 0.842);
  cursor: pointer;
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: auto;
}

.nav__submenu-item :hover {
    background: rgba(#000, 0.1);
  }