.navbar {
  background-image: url("../images/blue-abstract-nav.png");
  background-size: cover;
  background-blend-mode: lighten;
  width: 100%;
  padding: 0;
}

.navItems {
  margin: 0;
}

.navPiece {
  color: white;
  margin: 0;
  font-size: 1.5rem;
  padding: 15px 25px;
}
