@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav > ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  background: url("../images/blue-abstract-nav.png");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: left;
  z-index: 10;
}

.nav-sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.nav a {
  display: flex;
  padding: 1.5rem 1.62rem;
  color: #fff;
  line-height: inherit;
  cursor: pointer;
}

.nav__menu {
  line-height: 105%;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  z-index: 4;
}

.nav__menu li:hover,
.nav__menu li:focus-within {
  background-color: rgba(133, 7, 165, 0.507);
  cursor: pointer;
}

.nav__submenu {
  display: none;
  visibility: hidden;
  position: absolute;
  width: auto;
  min-width: 5rem;
  margin-top: 4.5rem;
  padding-left: 0;
  background: url("../images/blue-abstract-nav.png");
  background-size: auto;
  opacity: 0;
  font-weight: 500;
  list-style: none;
  text-transform: none;
  transition: all 0.5s ease;
  border-radius: 5%;
}

.nav__submenu-item :hover {
  background: rgba(rgb(0, 0, 0), 0.1);
  z-index: 11;
  display: block;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

/* BurgerNav CSS */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 4%;
  height: 3%;
  right: 2%;
  top: 2.5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffffff;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  top: 0 !important;
}

.bm-overlay {
  top: 0 !important;
}

/* General sidebar styles */
.bm-menu {
  background: url("../images/blue-abstract-nav.png");
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  color: #fff;
  display: inline-block;
  padding: 5% 5%;
  margin: 10% 0;
}
