@media screen and (max-width: 768px) {
  .divider {
    width: calc(2rem * 9.5);
  }
}

@media screen and (min-width: 768px) {
  .divider {
    width: 90%;
  }
}
.divider {
  height: calc(3rem * 2.5);
  margin-bottom: -1%;
}

.sponsors-container {
  text-align: center;
}

.sponsors-container h2 {
  font-size: 3.5rem;
  margin: 7px 0 15px 0;
}

.slide img {
  height: 150px;
  width: 250px;
  margin-top: 10%;
  border-radius: 25%;
  border: 3px solid white;
}
