@media screen and (max-width: 768px) {
  #logo {
    width: 10rem;
  }

  .foot {
    font-size: 70%;
  }
}

:root {
  --borderDesign: 5px solid #5000e6b6;
}

.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1vw;
}

#logo {
  width: 27vw;
  margin: 3% 0 3% 5vw;
}

a {
  color: #5900ff;
}

.margin-width {
  margin-right: 5%;
  margin-left: 5%;
}

.main-body {
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}

.page-header {
  margin: 1.5% 5%;
  font-family: "Sansita Swashed", cursive;
  padding-bottom: 0.5%;
  border-bottom: 5px solid #ff7300;
}

.two-col {
  display: flex;
  justify-content: space-between;
}

.top-line {
  display: flex;
  background-image: url("./images/blueVariant-print.png");
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.head li {
  list-style-type: none;
  text-align: -webkit-match-parent;
}

.head a {
  font-weight: bold;
}

.contacts {
  border-left: 6px solid #bf00ff4b;
  margin-top: 2%;
  margin-right: 5%;
  font-size: 1.5rem;
  padding-left: 0.5%;
  list-style: none;
  white-space: nowrap;
  min-width: 25px;
}

.contacts li {
  margin: 10px 0;
}

.contacts a {
  text-decoration: none;
  padding: 3px 5px;
  color: whitesmoke;
}

#logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

#logo img {
  max-width: 500px;
}

/* Second Column */
.two-col h2 {
  font-size: 3.5rem;
}

.col2 {
  min-width: 25%;
  max-width: 25%;
}

.col2 ul {
  list-style-type: none;
}

.col2-link {
  color: #67007c;
}

.col2-link:hover {
  color: #ff7300;
}

/* Social Media */
.social-link {
  display: inline-block;
}

.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #55acee;
}

.fa-pinterest {
  background: #cb2027;
}

.fa-instagram {
  background: #125688;
}
