:root {
  --borderDesign: 5px solid #5000e6b6;
}

.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.App-header {
  background-image: url("images/blueVariant-print.png");
  background-size: cover;
  background-position: top;
  height: 5%;
}

#logo {
  width: 20vw;
  margin: 2% 0;
}

a {
  color: #5900ff;
}

.margin-width {
  margin-right: 5%;
  margin-left: 5%;
}
