.App {
  text-align: center;
}

.App-header {
  background-image: url("images/blueVariant-print.png");
  background-size: cover;
  background-position: top;
  height: 5%;
}

#logo {
  width: 20vw;
  margin: 2% 0;
}

a {
  color: #5100e6;
}

.margin-width {
  margin-right: 5%;
  margin-left: 5%;
}
